<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.shiro.dao.RolesMapper">

    <resultMap id="BaseResultMap" type="com.test.shiro.entity.Roles">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_name, description
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            roles
        WHERE
            id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            roles
        WHERE
            id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.test.shiro.entity.Roles">
        INSERT INTO
            roles (id, role_name, description)
        VALUES
            (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>
    
    <select id="selectByUserName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            r.role_name
        FROM
            users       AS u,
            roles       AS r,
            users_roles AS ur
        WHERE
            u.id = ur.u_id
        AND r.id = ur.ro_id
        AND u.user_name = #{userName,jdbcType=VARCHAR};
    </select>

</mapper>