<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.shiro.dao.UsersMapper">

    <resultMap id="BaseResultMap" type="com.test.shiro.entity.Users">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, email, password
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="Users">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          users
        WHERE
          id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM
            users
        WHERE
            id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.test.shiro.entity.Users" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            users (id, user_name, email, password)
        VALUES
            (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
    </insert>

    <select id="selectByUserName" parameterType="java.lang.String" resultType="Users">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            users
        WHERE
            user_name = #{userName,jdbcType=VARCHAR}
    </select>

</mapper>